/*
=======================================
				FOOTER
======================================= 
*/



html {
    position: relative;
	min-height: 100%;
	scroll-behavior: smooth;
}
 
.footer {
	position: absolute;
	text-align: center;
    bottom: 0;
    width: 100%;
    height: 70px;
	color: #FFFFFF;
	background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../images/tennis1.jpeg) center center;
}

/*
=======================================
		CONNEXION / INSCRIPTION
======================================= 
*/

:root {
	--input-padding-x: 1.5rem;
	--input-padding-y: 0.75rem;
  }
  
  .login,
  .image {
	min-height: 100vh;
  }
  
  .bg-image {
	background-image: url(../images/tennis2.jpg);
	background-size: cover;
	background-position: center;
  } 

  .bg-image2 {
	background-image: url(../images/tennis3.png);
	background-size: cover;
	background-position: center;
  }

  
  .login-heading {
	font-weight: 300;
  }
  
  .btn-login {
	font-size: 0.9rem;
	letter-spacing: 0.05rem;
	padding: 0.75rem 1rem;
	border-radius: 2rem;
  }
  
  .form-label-group {
	position: relative;
	margin-bottom: 1rem;
  }
  
  .form-label-group>input,
  .form-label-group>label {
	padding: var(--input-padding-y) var(--input-padding-x);
	height: auto;
	border-radius: 2rem;
  }
  
  .form-label-group>label {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin-bottom: 0;
	/* Override default `<label>` margin */
	line-height: 1.5;
	color: #495057;
	cursor: text;
	/* Match the input under the label */
	border: 1px solid transparent;
	border-radius: .25rem;
	transition: all .1s ease-in-out;
  }
  
  
  /* Fallback for Edge
  -------------------------------------------------- */
  
  @supports (-ms-ime-align: auto) {
	.form-label-group>label {
	  display: none;
	}
	.form-label-group input::-ms-input-placeholder {
	  color: #777;
	}
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  
  @media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
	.form-label-group>label {
	  display: none;
	}
	.form-label-group input:-ms-input-placeholder {
	  color: #777;
	}
  }

/*
=======================================
				HEADER
======================================= 
*/

header {
	position: relative;
	background-color: black;
	height: 100vh;
	min-height: 25rem;
	width: 100%;
	overflow: hidden;
  }
  
  header video {
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 0;
	-ms-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
	position: relative;
	z-index: 2;
  }
  
  header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.5;
	z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
	header {
	  background: url('http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg') black no-repeat center center scroll;
	}

  }

/*
=======================================
				SPINNER
======================================= 
*/

body{
	margin: 0;
	padding: 0;
	background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.02));
}

  .loading{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 40px;
	display: flex;
	align-items: center;
  }

  .loadingText{
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 40px;
	display: flex;
	align-items: center;
  }
  .obj{
	width: 6px;
	height: 40px;
	background: #2980b9;
	margin: 0 3px;
	border-radius: 10px;
	animation: loading 0.8s infinite;
  }
  .obj:nth-child(2){
	animation-delay: 0.1s;
  }
  .obj:nth-child(3){
	animation-delay: 0.2s;
  }
  .obj:nth-child(4){
	animation-delay: 0.3s;
  }
  .obj:nth-child(5){
	animation-delay: 0.4s;
  }
  .obj:nth-child(6){
	animation-delay: 0.5s;
  }
  .obj:nth-child(7){
	animation-delay: 0.6s;
  }
  .obj:nth-child(8){
	animation-delay: 0.7s;
  }
  .obj:nth-child(9){
	animation-delay: 0.8s;
  }
  .obj:nth-child(10){
	animation-delay: 0.9s;
  }
  .obj:nth-child(11){
	animation-delay: 1s;
  }
  .obj:nth-child(12){
	animation-delay: 1.1s;
  }
  
  
  @keyframes loading {
	0%{
	  height: 0;
	}
	50%{
	  height: 40px;
	}
	100%{
	  height: 0;
	}
  }
  
/*
=======================================
				TIMER
======================================= 
*/

.countdown {
    text-transform: uppercase;
    font-weight: bold;
}

.countdown span {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 3rem;
	margin-left: 0.8rem;
	margin-left: 0;
}

.bg-gradient-3 {
    background: #be4913;
    
    background: linear-gradient(to right,#be4913, #34458b);
}

/*
=======================================
			SEARCH
======================================= 
*/

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}